<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有兼职信息</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div class="layui-fluid" style="margin-top: 40px;">
    <fieldset class="layui-elem-field layui-field-title">
        <legend style="font-size: 26px">所有兼职信息</legend>
    </fieldset>
    <table id="allJobs" lay-filter="jobs"></table>
</div>
<script src="/static/layui/layui.js"></script>

<script>
    layui.use(['element', 'form', 'table'], function () {
        var element = layui.element,
            $ = layui.jquery,
            table = layui.table;

        var dt = table.render({
            elem: "#allJobs",
            url: "/allJobs/",
            page: true,
            id: 'allJobs',
            cols: [[
                {field: 'Jid', title: 'id', align: 'center'}
                , {field: 'Jobname', title: '工种', align: 'center'}
                , {field: 'Province_and_city', title: '省市区', align: 'center'}
                , {field: 'Jobloc', title: '详细工作地址', align: 'center'}
                , {field: 'JobSalary', title: '工资', align: 'center'}
                , {field: 'JobContact', title: '联系人', align: 'center'}
                , {field: 'Jobphonenumber', title: '联系人电话', align: 'center'}
                , {field: 'JobDeatails', title: '工作内容', align: 'center'}
                , {field: 'Jobtime', title: '发布时间', align: 'center', width: 200},
                {field: 'JobHired', title: '是否有效', templet: Job_status, align: 'center', width: 100},
                {fixed: 'right', title: '操作', align: 'center', templet: ZhuangTai, width: 250}
            ]]
        });

        // 状态模板
        function Job_status(data) {
            var jobs_status = data.JobHired;
            if (jobs_status === '0') {
                return "生效";
            }
            if (jobs_status === '1') {
                return "失效";
            }
        }

        function ZhuangTai(data) {
            var fwzd = data.JobHired;
            var btns = "<a class=\"layui-btn layui-btn-xs layui-btn-normal\" lay-event=\"view\">查看</a>\n" +
                "<a class=\"layui-btn layui-btn-xs\" lay-event=\"edit\">修改</a>\n";
            if (fwzd === '0') {
                btns += '<a class=\"layui-btn layui-btn-xs layui-btn-warm\" lay-event=\"downjob\">失效</a>';
            }
            if (fwzd === '1') {
                btns += '<a class=\"layui-btn layui-btn-xs\" lay-event=\"upjob\">生效</a>';
            }
            btns += "<a class=\"layui-btn layui-btn-xs layui-btn-danger\" lay-event=\"delete\">删除</a>";
            return btns;
        }

        table.on('tool(jobs)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            var currPage = dt.config.page.curr;

            if (layEvent === "edit") {
                window.location = "toAdminUpdateHousePage?Jid=" + data.Jid;
            }

            if (layEvent === 'delete') {
                layer.confirm('确认删除当前兼职信息吗？', {icon: 5, shade: 0.1}, function (index) {
                    $.post("/deletejob/", {
                        Jid: data.Jid,
                        csrfmiddlewaretoken: '{{ csrf_token  }}'
                    }, function (success) {
                        if (success == "OK") {
                            obj.del();
                            dt.reload({
                                page: {curr: 1}
                            });
                            layer.msg("删除成功");
                        }
                    })
                });
            }
            if (layEvent === 'upjob') {
                $.post("/upjob/", {Jid: data.Jid, csrfmiddlewaretoken: '{{ csrf_token  }}'}, function (success) {
                    if (success == "OK") {
                        layer.msg("兼职信息以生效！", {icon: 1, time: 2000});
                        layui.table.reload('allJobs', {page: {curr: $(".layui-laypage-em").next().html()}})   //这行时在当前页刷新表格的写法
                    } else {
                        layer.msg("当前房屋信息已上架", {icon: 1, time: 2000});
                    }
                })
            }
            if (layEvent === 'downjob') {
                layer.confirm('确定要失效当前兼职信息么？', {icon: 5, shade: 0.1}, function (index) {
                    $.post("/downjob/", {Jid: data.Jid, csrfmiddlewaretoken: '{{ csrf_token  }}'}, function (success) {
                        if (success == "OK") {
                            layer.msg("兼职信息以失效！", {icon: 1, time: 2000});
                            layui.table.reload('allJobs', {page: {curr: $(".layui-laypage-em").next().html()}})   //这行时在当前页刷新表格的写法
                        } else {
                            layer.msg("当前兼职信息以失效！", {icon: 1, time: 2000});
                        }
                    })
                });
            }
        });
    })
</script>
<script type="text/html" id="tools">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
</script>
</body>
</html>